body{
    background-color: #202432;
    width: 100%;
    height: 100%;
    padding-left: 10%; 
    
   
}
#wallet
{
    width: fit-content;
    height: 15px;
   border: 1px solid #454d6b;
    margin-left: 32%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
#wallet1
{
    width: fit-content;
    height: 70%;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

 

#table{
    margin-top: 10%;
    border:1px solid black;
    /* width: 500px;
    height: 400px; */
    color: white;
    border: transparent;
    width:auto;
    height: auto;
    
    
}
td{
    border: 1px solid #454d6b;
    /* box-shadow: 1px 1px 0px 1px #454d6b;
    box-shadow: -1px -1px 100px 3px #454d6b; */
    width: 14vw;
    height:7vh;
   
    
}
button{
    height: 100%;
    width: 100%;
    background-color: transparent;
}
#betamount{
    color: white;
}
#betamt{
    height:20px;
    width: 50%;
    background-color: transparent;
    color: white;
    border: 1px solid #454d6b;;
}
#bet
{
    width: 75%;
    height: 4vh;
    margin-top: 2%;
    background-color: greenyellow;
    /* mix-blend-mode: */
    
}
#betc
{
    width: 75%;
    height: 4vh;
    margin-top: 2%;
    background-color: greenyellow;
    /* mix-blend-mode: */
    
}
#half
{
    width: 10%;
    border: 1px solid white;
    color: white;
}
#double
{
    width: 10%;
    border: 1px solid white;
    color: white;
}

#result
{
    width: 75%;
    height: 100px;
    background-color: rgb(53, 57, 83);
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: .4s;
    border-radius: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(250, 250, 250);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ffffff;
}

input:checked + .slider:before {
    transform: translateX(13px);
}

/* Add focus effects */
input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
}